# Object files
*.o
*.ko
obj/

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# uVision file types
*.lst
*.dep
*.plg
*.uvgui.*
*.uvopt

# Other file types
*.bak
*.map
